.example-card {
    max-width: 400px;
    margin: 5%;
  }
  
  .example-header-image {
    background-image: url('https://images-na.ssl-images-amazon.com/images/I/51M4gUO9YQL._SY355_.jpg');
    background-size: cover;
  }